/* File: index.css
Student Name: Himal Bagga
Student Id: 301340155
Date: 26 May, 2024 */


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#lyimg
{
  width: auto;
  height: 70px;
  display: inline;
}
h1{
  display: inline-block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
 
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 0.8;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {

font-size:x-large;
display: block;

}
p{
  padding-left: 50px;
  font-size: large;
  
}
.srvpmain
{
  font-weight: 700;
  font-size: xx-large;
}
.srvp{
  font-weight: 500;
  font-size: x-large;
}
.srvul
{
  padding-left: 65px;
}
#abtimg
{
  width: auto;
  height: 500px;
  display: inline;
  display: flex;
}

#abtdiv
{
  display: inline;
  align-content: center;
  display: flex;
}
#abtb 
{
  font-size: xx-large;
  padding-bottom: 20%;
  
}
.prjimg1
{
  width: auto;
  height: 700px;
  padding-left: 5%;
}
#prjpmain
{
  font-size: xx-large;
  font-weight: 700;
}
.prjp
{
  font-size: x-large;
  font-weight: 500;
}
#form
{
  padding-left: 5%;
}
#lbnm
{
  padding-right: 19px;
  
}
#lbem
{
  padding-right: 24px;
  
}
#lbtxt
{
  display: flex;
}
#lbms
{
  display: flex;
}
.input
{
  margin-bottom: 10px;
}
